<div class="bg-neutral section-wrapper">
    <div class="container">
        <div class="row">
            <div class="d-inline-flex col-12 mb-5">
                <img src="/images/product-section-icon.svg" class="pe-2" alt="Starred products icon">
                <div class="text-uppercase fs-5 fw-bold section-header">SẢN PHẨM TIÊU BIỂU</div>
            </div>
            <SfCarousel ShowIndicators="false">
                @for (var i = 0; i < Products.Count; i += 2)
                {
                    var i1 = i;
                    <CarouselItem>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 p-2">
                                <ProductCardView Product="Products[i1]" />
                            </div>
                            <div class="col-md-6 col-sm-12 p-2">
                                <ProductCardView Product="Products[i1+1]" />
                            </div>
                        </div>
                    </CarouselItem>
                }
            </SfCarousel>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ProductViewModel> Products { get; set; } =
    [
        new ProductViewModel { Name = "A SD asd as dasd asd", Price = 100000 , Images = [new ResourceViewModel { Url = "/images/carousel-sample/1.jpg" }], Rate = 5 },
    new ProductViewModel { Name = "awdasd asd awasd a", Price = 100000 , Images = [new ResourceViewModel { Url = "/images/carousel-sample/1.jpg" }], Rate = 5 },
    new ProductViewModel { Name = "trhg dfg hdf gh", Price = 100000 , Images = [new ResourceViewModel { Url = "/images/carousel-sample/1.jpg" }], Rate = 5 },
    new ProductViewModel { Name = "sert sdfg sdfg", Price = 100000 , Images = [new ResourceViewModel { Url = "/images/carousel-sample/1.jpg" }], Rate = 5 }
    ];
}
