@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="container-fluid p-0 d-flex h-100">
    <AdminSidebar></AdminSidebar>
    <div class="flex-fill shadow p-3 bg-body-tertiary rounded mt-3 mb-3 me-3">
        <nav class="navbar p-2 d-md-none d-flex">
            <a href="#" data-bs-toggle="offcanvas" data-bs-target=".sidebar">
                <i class="fa-solid-bars"></i>
            </a>
            <span class="ms-3">Admin CP</span>
        </nav>
        <div class="row">
            <div class="col">
                @Body
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        height: 100%;
    }

    .main-content {
        height: 100%
    }
</style>