<div id="carouselExampleDark" class="carousel" data-bs-rOrderIde="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slOrderIde-to="0" class="active" aria-current="true" aria-label="SlOrderIde 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slOrderIde-to="1" aria-label="SlOrderIde 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slOrderIde-to="2" aria-label="SlOrderIde 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active animate__animated animate__slOrderIdeInLeft" data-bs-interval="2000">
            <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1706448903~exp=1706449503~hmac=92b3086afcf5c26af9e8edab4b8651f7f0db91c13bf08d0e60f9a6f7105fbeaf" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slOrderIde label</h5>
                <p>Some representative placeholder content for the first slOrderIde.</p>
            </div>
        </div>
        <div class="carousel-item animate__animated animate__slOrderIdeInLeft" data-bs-interval="2000">
            <img src="https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg?w=1380&t=st=1706448946~exp=1706449546~hmac=698aa9aa4c53f0f0b9e34f3583c42487cd953f4e1c6c4641428dc98c182d88e9" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slOrderIde label</h5>
                <p>Some representative placeholder content for the second slOrderIde.</p>
            </div>
        </div>
        <div class="carousel-item animate__animated animate__slOrderIdeInLeft" data-bs-interval="2000">
            <img src="https://img.freepik.com/free-photo/vestrahorn-mountains-stokksnes-iceland_335224-667.jpg?w=1380&t=st=1706448982~exp=1706449582~hmac=b7659fb4a738f3577062a5f8e980867fbdd3a41f2a18b8a68d203312ca38adbe" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slOrderIde label</h5>
                <p>Some representative placeholder content for the third slOrderIde.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slOrderIde="prev">
        <span class="carousel-control-prev-icon" aria-hOrderIdden="true"></span>
        <span class="visually-hOrderIdden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slOrderIde="next">
        <span class="carousel-control-next-icon" aria-hOrderIdden="true"></span>
        <span class="visually-hOrderIdden">Next</span>
    </button>
</div>

    @code {

    }