<div id="@Id" class="modal show d-block" tabindex="-1" role="dialog" @onmouseup:stopPropagation="true" @onmousedown:stopPropagation="true">
    <div class="modal-backdrop show"></div>
    <div class="modal-dialog animate__animated animate__@Animation animate__faster modal-dialog-centered modal-dialog-scrollable @SizeClass" style="z-index: 1050" role="document">
        <div class="modal-content">
            @if (Header is not null)
            {
                <div class="modal-header">
                    @Header
                </div>
            }
            @if (Body is not null)
            {
                <div class="modal-body">
                    @Body
                </div>
            }
            @if (Footer != null)
            {
                <div class="modal-footer">
                    @Footer
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Id { get; set; } = string.Empty;
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public string SizeClass { get; set; } = "";
    [Parameter] public string Animation { get; set; } = "zoomInDown";
}