.loader {
    display: flex;
    width: 20vw;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background: linear-gradient(135deg, #0000 calc(50% - 0.5em), #000 0 calc(50% + 0.5em), #0000 0) right / 300% 100%;
    animation: l22-b-c9vykz5og0 2s infinite;
    margin: 50px auto;
    flex-direction: row;
    justify-content: center;
}

    .loader::before {
        content: "ĐANG TẢI ...";
        color: #0000;
        padding: 0 10px;
        background: inherit;
        background-image: linear-gradient(135deg,#000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#000 0);
        -webkit-background-clip: text;
        background-clip: text;
    }

@keyframes l22 {
    100% {
        background-position: left
    }
}