.product__all-single {
    position: relative;
    display: block;
    margin-bottom: 21px;
}

.product__all-img-box {
    position: relative;
    display: block;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product__all-img {
    display: block;
    border: 1px solid #ece9e0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product__all-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 56px;
    height: 20px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.product__all-img-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) scale(0);
    transition: all 500ms ease;
    z-index: 2;
}

    .product__all-img-icon a {
        position: relative;
        height: 70px;
        width: 70px;
        font-size: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 500ms ease;
    }

.product__all-content {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.product__all-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__all-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 8px;
    margin-bottom: 1px;
}

    .product__all-title a {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }
