<ModalDialog>
    <Header>
        <h5 class="modal-title">XÓA SẢN PHẨM</h5>
        <button type="button" class="btn-close" aria-label="Close" @onclick="() => BlazoredModal.CancelAsync()"></button>
    </Header>
    <Body>
        <p>Bạn có chắc là muốn xóa sản phẩm <b>@Name</b> với mã sản phẩm <b>@ExternalId</b> này không.</p>
        <p>Mặc định, sản phẩm sẽ bị <b>ẨN</b> khỏi trang sản phẩm của người dùng và có thể <b>HIỆN</b> lại bằng cách vào hộp thoại CHỈNH SỬA.</p>
        <p>Nếu bạn muốn xóa vĩnh viễn sản phẩm ra khỏi hệ thống, hãy chọn ô bên dưới.</p>

        <InputCheckbox @bind-Value="_forceDelete" /> Xóa vĩnh viễn (không thể phục hồi).       
    </Body>
    <Footer>
        <div class="row">
            <div class="col-12">
                <LoadingButton IconCss="fa-solid fa-trash" ButtonCssClass="btn-danger rounded-pill me-2" LoadingText="ĐANG XÓA" NormalText="CHẮC CHẮN" Click="() => DeleteAsync(_forceDelete)" />
                <button class="btn btn-info rounded-pill" @onclick="() => BlazoredModal.CancelAsync()"><i class="fa-solid fa-xmark"></i> KHÔNG</button>
            </div>
        </div>
    </Footer>
</ModalDialog>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public string ExternalId { get; set; } = string.Empty;
    private bool _forceDelete;

    private Task DeleteAsync(bool forceDelete)
    {
        return BlazoredModal.CloseAsync(ModalResult.Ok(forceDelete));
    }
}