<div class="container-fluOrderId px-0 mb-5">
    <MainSlider />
</div>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2 about">
                    <div class="col-6 position-relative animate__animated animate__fadeInUp" style="z-index: 3">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">7 năm</h1>
                            <small class="fs-5 fw-bold">Kinh nghiệm</small>
                        </div>
                    </div>
                    <div class="col-6 animate__animated animate__fadeInUp">
                        <img class="img-fluOrderId rounded" src="images/about/1.jpg">
                    </div>
                    <div class="col-6 animate__animated animate__fadeInUp">
                        <img class="img-fluOrderId rounded" src="images/about/2.jpg">
                    </div>
                    <div class="col-6 animate__animated animate__fadeInUp">
                        <img class="img-fluOrderId rounded" src="images/about/3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</p>
                <h1 class="mb-4">Công ty TNHH SX Màng nông nghiệp Miền Nam</h1>
                <p class="mb-4">Là công ty chuyên sản xuất và cung ứng sản phẩm màng nông ngư nghiệp cho bà con nông dân, theo công nghệ tiêu chuẩn Châu Âu, với nhiều chuyên gia đầu ngành, nhiều năm kinh nghiệm tạo ra các sản phẩm màng nông ngư nghiệp có độ bền cao, đem lại hiệu quả kinh tế cho bà con nông dân, và các nhà đầu tư trong nông nghiệp.</p>

                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Why Us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 animate__animated animate__fadeInUp">
                <p class="section-title bg-white text-start text-primary pe-3">Vì sao chọn chúng tôi</p>
                <h1 class="mb-4">Một số lí do vì sao mọi người chọn chúng tôi!</h1>
                <p><i class="fa fa-check text-primary me-3"></i>Uy tín trong lĩnh vực</p>
                <p><i class="fa fa-check text-primary me-3"></i>Tận tâm phục vụ khách hàng</p>
                <p><i class="fa fa-check text-primary me-3"></i>Chất lượng sản phẩm cao</p>
                <p><i class="fa fa-check text-primary me-3"></i>Nghiên cứu, tìm hiểu và lắng nghe.</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Tìm hiểu thêm</a>
            </div>
            <div class="col-lg-6">
                <div class="rounded-3 overflow-hOrderIdden">
                    <div class="row g-0">
                        <div class="col-sm-6 animate__animated animate__fadeInUp">
                            <div class="text-center bg-primary py-5 px-4">
                                <i class="fa fa-medal fa-4x text-secondary"></i>
                                <h2 class="text-white mt-4" data-toggle="counter-up">7 năm kinh nghiệm</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 animate__animated animate__fadeInUp">
                            <div class="text-center bg-secondary py-5 px-4">
                                <i class="fa fa-brain fa-4x text-primary"></i>
                                <h2 class="text-white mt-4" data-toggle="counter-up">Công nghệ mới</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 animate__animated animate__fadeInUp">
                            <div class="text-center bg-secondary py-5 px-4">
                                <i class="fas fa-city fa-4x text-primary"></i>
                                <h2 class="text-white mt-4" data-toggle="counter-up">Tiêu chuẩn châu Âu</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 animate__animated animate__fadeInUp">
                            <div class="text-center bg-primary py-5 px-4">
                                <i class="far fa-heart fa-4x text-secondary"></i>
                                <h2 class="text-white mt-4" data-toggle="counter-up">Tư vấn tận tình</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Us End -->