.btn-more {
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

    .btn-more::after {
        background-color: #ff0;
        border-radius: 3rem;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: 0.2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    .btn-more:hover::after {
        transform: translate(0, 0);
    }

    .btn-more:hover {
        border: 2px solid transparent;
        color: #4b0082;
        will-change: transform;
    }

.validation-message {
    font-size: .875em;
    color: red;
}

.fs-10 {
    font-size: 10pt;
}

.top-info {
    font-weight: 600;
    height: 32px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.logo {
    width: 64px
}

.main-nav {
    padding-top: 32px;
    padding-bottom: 0px;
}

    .main-nav ul li {
        padding-left: 15px;
        list-style: none;
    }

        .main-nav ul li a {
            position: relative;
            display: block;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 10px 20px;
            text-decoration: none;
            color: gray;
            font-weight: 600;
            transition: 0.5s;
            z-index: 1;
        }

            .main-nav ul li a:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top: 2px solid gray;
                border-bottom: 2px solid gray;
                transform: scaleY(2);
                opacity: 0;
                transition: 0.3s;
            }

            .main-nav ul li a:after {
                content: "";
                position: absolute;
                top: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: gray;
                transform: scale(0);
                opacity: 0;
                transition: 0.3s;
                z-index: -1;
            }

            .main-nav ul li a:hover {
                color: #fff;
            }

                .main-nav ul li a:hover:before {
                    transform: scaleY(1);
                    opacity: 1;
                }

                .main-nav ul li a:hover:after {
                    transform: scaleY(1);
                    opacity: 1;
                }

.bg-neutral {
    background-color: #f8f9f9
}

.tile {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.section-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-header {
    letter-spacing: 3px;
    color: #464e4e
}

.main-content {
    margin-top: 70px;
}

.footer-top {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-contact-wrapper {
    align-items: center;
    display: flex;
}

.links-block.contact {
    margin-bottom: 0;
    margin-right: 0;
}

.divider.footer-contact {
    width: 1px;
    height: 145px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.footer-mobile-title.contact {
    align-items: center;
    display: flex;
}

.footer-mobile-content.contact {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    display: flex;
}

.footer-mobile-content {
    display: flex;
}

.footer {
    background: url(/images/footer-bg.jpeg) no-repeat bottom right;
    background-size: contain;
}

@media (max-width: 768px) {
    .logo {
        width: 40px
    }

    .main-carousel {
        margin-top: 50px;
    }

    .top-info {
        display: none;
    }

    .main-nav {
        padding-top: 0px;
    }

        .main-nav ul:hover li a {
            margin-left: 15px;
            padding-left: 15px;
        }
}

.e-grid .e-spinner-pane {
    display: none;
}

@media (min-width: 768px) {
    .main-nav {
        height: 102px;
    }
}
