<ModalDialog>
    <Header>
        <h5 class="modal-title">XÓA ĐƠN HÀNG</h5>
        <button type="button" class="btn-close" aria-label="Close" @onclick="() => BlazoredModal.CancelAsync()"></button>
    </Header>
    <Body>
        <p>Bạn có chắc là muốn xóa đơn hàng này của người dùng <b>@Order.Fullname</b> với mã đơn hàng <b>@Order.ExternalId</b> không.</p>
        <p>Mặc định, đơn hàng sẽ được chuyển sang trạng thái HỦY và người đặt hàng sẽ nhận được email thông báo đơn hàng đã được hủy.</p>
        <p>Nếu bạn muốn xóa vĩnh viễn đơn ra khỏi hệ thống, hãy chọn ô bên dưới.</p>

        <InputCheckbox @bind-Value="_forceDelete" /> Xóa vĩnh viễn (không thể phục hồi).
    </Body>
    <Footer>
        <div class="row">
            <div class="col-12">
                <LoadingButton IconCss="fa-solid fa-trash" ButtonCssClass="btn-danger rounded-pill me-2" LoadingText="ĐANG XÓA" NormalText="CHẮC CHẮN" Click="() => DeleteAsync(_forceDelete)" />
                <button class="btn btn-info rounded-pill" @onclick="() => BlazoredModal.CancelAsync()"><i class="fa-solid fa-xmark"></i> KHÔNG</button>
            </div>
        </div>
    </Footer>
</ModalDialog>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public OrderViewModel Order { get; set; } = new();

    private bool _forceDelete;

    private async Task DeleteAsync(bool forceDelete)
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(forceDelete));
    }
}